.reviews {
    background: white;
}
.reviews__header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reviews__header-title {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}

.review {
    background: #F8FAF9;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    height: 348px;
}
.review__img {
    margin: 42px;
}
.review__content {
    margin-top: 74px;
    margin-bottom: 63px;
    margin-right: 107px;
}
.review__header {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding-bottom: 27px;

}
.review__text {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    padding-bottom: 38px;
}
.review__name {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top: 7px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.list__item {
    margin-right: 6px;
}