.why {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.why__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__header-title {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 18px;
}

.why__header-text {
    display: flex;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    width: 54%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.why__content {
    margin-top: 65px;
}
.why__list {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-left: 80px;
    margin-right: 96px;
}


.why__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 70px;
}

.why__item:last-child {
    margin-right: 0px;
}
.why__item-circle {
    background: #F2F5F4;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    position: relative;
}
.why__item-img {
    position: absolute;
    top: 23%; 
    left: 25%;
}
.why__item-header {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: block;
}

.why__item-text {
    text-align: center;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: block;
}