.features__list {
    display: flex;
}
.features__item {
    display: flex;
    margin-right: 9px;
}
.features__icon-box {
    width: 40px;
    height: 40px;
    margin-right: 11px;
}

.features__icon {
    max-width: 100%;
    height: auto;
}

.features__text {
    max-width: 114px;
    font-size: 16px;
    line-height: 18px;  
}