.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 20px 0;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.info__address {
    font-size: rem(18px);
    line-height: rem(24px);
    font-weight: 400;
    margin-bottom: rem(3px);
}


.socials {
    display: flex;
    flex-direction: row;
    transform: translateX(20px);
}

.socials__item {
    margin-right: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}

.socials__icon {
    width: rem(30px);
    height: rem(30px);
    color: #b3b3b3;

    &:hover {
        color: #292929;
    }
}
