.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: rem(24px);
}

.header__contacts__phone {
    @include tablets {
        display: none;
    }
}
