.reviews {
    background: white;
}
.reviews__header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reviews__header-title {
    margin-bottom: 32px;
}

.review {
    background: #F8FAF9;
    display: flex;
    padding: 42px;
    margin-bottom: 15px;
}

.review__content {
    padding-top: 34px;
}
.review__img-box {
    width: 253px;
    height: 264px;
    flex-shrink: 0;
    margin-right: 39px;
}

.review__img {
    max-width: 100%;
    height: auto;
}

.review__header {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 27px;

}
.review__text {
    font-size: 16px;
    line-height: 19px;
    color: #666;
    margin-bottom: 38px;
    max-width: 457px;
}
.review__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.feedback__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.feedback__item {
    margin-right: 6px;
    position: relative;


    &--active, &:hover {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            border: 4px solid #E01F3D;
        }
    }
}

.feedback__link {
    width: 74px;
    height: 74px;
    display: block; 
    border-radius: 50%;
    overflow: hidden;
}

.feedback__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}