.why {
    background: white;
}

.why__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(62px);
    text-align: center;
}

.why__header-title {
    margin-bottom: rem(18px);
    @include phones {
        font-size: rem(32px);
        line-height: rem(36px);
    }
}

.why__header-text {
    font-size: rem(16px);
    color: #666;
    width: 56%;
    text-align: center;
}

.why__list {
    display: flex;
    align-items: flex-start;

    @include phones {
        flex-direction: column;
    }
}


.why__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3%;
    flex: 1;
    text-align: center;
    position: relative;


    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
        &::before {
            display: none;
        }
    }

    @include phones {
        flex-direction: unset;
        padding: 0;
    }
    &::before {
        content: '';
        width: rem(67px);
        height: rem(21px);
        position: absolute;
        right: rem(-33px);
        top: rem(60px);
        background: url(../images/why-decor.png) center / contain no-repeat;

        @include phones {
            display: none;
        }
    }
}

.why__item-circle {
    background: #F2F5F4;
    width: rem(128px);
    height: rem(128px);
    border-radius: 50%;
    display: block;
    position: relative;
    padding: rem(34px);
    margin-bottom: rem(24px);

    @include phones {
        margin-right: rem(12px);
    }
}
.why__item-img {
    max-width: 100%;

    &.why__item-battery {
        width: rem(68px); 
        height: rem(68px);
        background: url('../images/sprite.png') -456px -12px;

        @include phones {
            background: url('../images/sprite.png') -460px -14px;
        }
    }
    &.why__item-timer {
        width: rem(68px); 
        height: rem(68px);
        background: url('../images/sprite.png') -546px -12px;

        @include phones {
            background: url('../images/sprite.png') -549px -14px;
        }
    }
    &.why__item-volume {
        width: rem(68px); 
        height: rem(68px);
        background: url('../images/sprite.png') -635px -12px;

        @include phones {
            background: url('../images/sprite.png') -636px -14px;
        }
    }
}

.why__item-content {
    @include phones {
        text-align: left;
    }
}

.why__item-header {
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(7px);
}

.why__item-text {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666;
}