.why {
    background: white;
}

.why__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;
}

.why__header-title {
    margin-bottom: 18px;
}

.why__header-text {
    font-size: 16px;
    color: #666;
    width: 56%;
    text-align: center;
}

.why__list {
    display: flex;
    align-items: flex-start;
}


.why__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3%;
    flex: 1;
    text-align: center;
    position: relative;


    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
        &::before {
            display: none;
        }
    }

    &::before {
        content: '';
        width: 67px;
        height: 21px;
        position: absolute;
        right: -33px;
        top: 60px;
        background: url(../images/why-decor.png) center / contain no-repeat;
    }
}

.why__item-circle {
    background: #F2F5F4;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    position: relative;
    padding: 34px;
    margin-bottom: 24px;
}
.why__item-img {
    max-width: 100%;
    height: auto;
}
.why__item-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 7px;
}

.why__item-text {
    font-size: 16px;
    line-height: 19px;
    color: #666;
}